<nav class="navbar">
  <div class="navbar-content">
    <div class="left-links">
      <a class="navbar-link " (click)="goToUserDashboard()">Food App</a>
      <a  class="navbar-link" (click)="goToContact()">Contact</a>
    </div>
    <div class="center-search">
      <div class="location-dropdown">
        <div class="input-container">
          <i class="fa-solid fa-location-dot" style="margin-left: 10px;"></i>
          <input type="text" placeholder="Location" [(ngModel)]="locationInput" (input)="filterByLocation($event)" style="border: none;">
          <button class="dropdown-button" (click)="toggleLocationDropdown()">▼</button>
        </div>
        <div class="dropdown-content" [class.show]="isLocationDropdownOpen">
          <a (click)="detectLocation()">Detect Location</a>
        </div>
      </div>
      <div class="vertical-line"></div>
      <input type="text" placeholder="Search Restaurant..." (input)="filterRestaurants($event)" class="search-bar">
    </div>

    <div class="profile-container" (click)="toggleDropdown()">
      <div class="profile-info">
        <i class="fas fa-user profile-icon"></i>
        <div class="profilename">{{ username }}</div>
        <i class="arrow-icon fas" [class]="isDropdownOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
      </div>
      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <a routerLink="/profile" (click)="toggleDropdownProfile()">Profile</a>
        <a routerLink="/drop-down-menu/cart" (click)="toggleDropdownCart()">My Cart</a>
        <hr>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<div class="cards-container">
  <div class="card" *ngFor="let restaurant of filteredRestaurants"
    (click)="onCardClick(restaurant.restaurantID,restaurant.restaurantName,restaurant.location,restaurant.ratings,restaurant.latitude,restaurant.longitude,restaurant.openingTime,restaurant.closingTime,restaurant.closedStartDate,restaurant.closedEndDate)">
    <div class="image-container">
      <img *ngIf="restaurant.image" [src]="'data:image/jpeg;base64,' + restaurant.image" alt="Restaurant Image">
    </div>
    <h2>{{ restaurant.restaurantName }}</h2>
    <p class="left-aligned">Location: {{ restaurant.location }}</p>
    <div class="rating-container">
      <div class="rating-box">
        <i class="fas fa-star"></i> {{ restaurant.ratings }}
      </div>
    </div>
  </div>
</div>