<app-navbar></app-navbar>
<div class="container">
    <div class="web-backdrop">
        <div class="content-overlay">
            <h1>Partner with BigBite</h1>
            <p>at 0% commission for the 1st month!</p>
            <button class="btn register-btn" (click)="NewRestaurant()">Register your restaurant</button>
            <button class="btn view-btn" (click)="OwnerDashboard()">View your existing restaurants</button>
            <p>Need help? Contact +91-9426604637</p>
        </div>
    </div>

    <div class="get-started-card">
        <div class="get-started">
            <h2>Get started with online ordering</h2>
            <p>Get ready for a smooth signup</p>
            <ul>
                <li>Restaurant Location</li>
                <li>Your restaurant menu</li>
                <li>Dish images for top 5 items</li>
            </ul>
        </div>
    </div>

    <div class="why-partner">
        <h2>Why should you partner with ?</h2>
        <p>Zomato enables you to get 60% more revenue, 10x new customers and boost your brand visibility by providing
            insights to improve your business.</p>
        <div class="business-cards">
            <div class="card">
                <div class="imgandname">
                    <img src="../../../assets/world.png" style="height: 30px; width: 30px;">
                    <h3>1000+ cities</h3>
                </div>
                <p>in India</p>
            </div>
            <div class="card">
                <div class="imgandname">
                    <img src="../../../assets/restaurants-stall.png" style="height: 30px; width: 30px;">
                    <h3>3 lakh+</h3>
                </div>
                    <p>restaurant listings</p>
            </div>
            <div class="card">
                <div class="imgandname">
                    <img src="../../../assets/star-restaurant.png" style="height: 30px; width: 30px;">
                    <h3>5.0 crore+</h3>
                </div>
                    <p>monthly orders</p>
            </div>
        </div>

        <div class="how-it-works">
            <h2>How it works?</h2>
            <div class="steps">
                <div class="step">
                    <img src="../../../assets/book_res.png">
                    <h3>Step 1</h3>
                    <p>Create your page on Zomato</p>
                    <p>Help users discover your place by creating a listing on Zomato</p>
                </div>
                <div class="step">
                    <img src="../../../assets/scooter_res.png">
                    <h3>Step 2</h3>
                    <p>Register for online ordering</p>
                    <p>And deliver orders to millions of customers with ease</p>
                </div>
                <div class="step">
                    <img src="../../../assets/packet_res.png">
                    <h3>Step 3</h3>
                    <p>Start receiving orders online</p>
                    <p>Manage orders on our partner app, web dashboard or API partners</p>
                </div>
            </div>
        </div>

        <!-- <div class="claim-restaurant">
            <h2>Already have your restaurant listed?</h2>
            <p>Search here and claim the ownership of your restaurant</p>
            <input type="text" placeholder="Search for your restaurant, eg. Greenland Cafe">
        </div>

        <div class="faq">
            <h2>Frequently asked questions</h2>
            <div class="question">
                <p><strong>What will Zomato charge me for creating a page on its platform?</strong></p>
            </div>
            <div class="question">
                <p><strong>What all documents are required for registering on online ordering?</strong></p>
            </div>
            <div class="question">
                <p><strong>I have a large fleet of delivery boys, why should I use Zomato’s delivery service?</strong>
                </p>
            </div>
            <div class="question">
                <p><strong>What happens if the average order value of Zomato orders is very low?</strong></p>
            </div>
        </div>-->
    </div> 