   <div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-header">Your Cart</div>
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item-details">
        <img *ngIf="item.foodImage" [src]="'data:image/jpeg;base64,' + item.foodImage" alt="Food Image">
        <div class="item-info">
          <div class="item-name">{{ item.itemName }}</div>
          <div class="item-quantity">Quantity: {{ item.quantity }}</div>
          <div class="item-price">Price: {{ item.price }}</div>
        </div>
      </div>
    </div>
    <div class="cart-total">
      Total: ₹{{ calculateTotal() }}
    </div>
    <div class="action-buttons">
      <!-- <button class="clear-cart-button" (click)="clearCart()">Clear Cart</button> -->
      <button class="checkout-button">Checkout</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p>Your cart is empty.</p>
    </div>
  </ng-template>
  