<nav class="navbar">
  <div class="navbar-content">
    <a routerLink="/" class="navbar-link">Home</a>
    <a routerLink="/about" class="navbar-link">About</a>
    <a routerLink="/services" class="navbar-link">Services</a>
    <a routerLink="/contact" class="navbar-link">Contact</a>
    <div class="profile-container" (click)="toggleDropdown()">
      <i class="fas fa-user profile-icon"></i>
      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <a routerLink="/profile" (click)="toggleDropdown()">Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
